@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
*{
    font-family: "Parkinsans";
}
#myntra-logo{
    padding-left: 50px;
    width:50px;
    height:50px;
}
header{
    display:flex;
    box-shadow: 1px 1px 1px 1px rgb(211, 209, 209);
    height:60px;    
    
    width:1346px;
    
    
}
header nav{
    display:flex;
    
}
header nav ul{
    width:500px;
    display:flex;
    list-style: none;
    justify-content: space-between;

}
header nav ul li{
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    margin-left:15px;
    
}


#searching-box{
    margin-left:100px;
    text-align:center;
    width:350px;
    border:2px solid lightgrey;
    border-radius: 10px;
    height:45px;
    
    

}
#searching-box input{
    margin-top:13px;
    width:300px;
    border:none;
    outline:none;
}
#icon-navigation{
    background-color:white ;
    width:200px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-left:10px;
    
}
#icon-navigation i{
    text-align:center;
    color:grey;
}
#icon-navigation  p{
 font-size:10px;
 color:black;
}


/*                     FIRST QUERY FIRST QUERY FIRST QUERY                  */


@media screen and (max-width:1014px){

    #myntra-logo{
        padding-left:37.5px;
        width:37.5px;
        height:37.5px;
    }
    header{
        display:flex;
        box-shadow: 1px 1px 1px 1px rgb(211, 209, 209);
        height:45px;    
        
        width:900px;
        
        
    }
    header nav{
        display:flex;
        
    }
    header nav ul{
        width:360px;
        display:flex;
        list-style: none;
        justify-content: space-between;
    
    }
    header nav ul li{
        letter-spacing: 1.5px;
        font-size: 11.25px;
        font-weight: 450;
        margin-left:10px;
        
    }
    
    
    #searching-box{
        margin-left:60px;
        text-align:center;
        width:260px;
        border:1.5px solid lightgrey;
        border-radius: 7.5px;
        height:33.75px;
        
        
    
    }
    #searching-box input{
        margin-top:9px;
        width:220px;
        border:none;
        outline:none;
    }
    #icon-navigation{
        background-color:white ;
        width:145px;
        display:flex;
        justify-content: space-around;
        align-items:center;
        margin-left:7.5px;
        
    }
    #icon-navigation i{
        text-align:center;
        color:grey;
    }
    #icon-navigation  p{
     font-size:10px;
     color:black;
    }
}

/*                        SECOND QUERY  SECOND QUERY SECOND QUERY                            */


@media only screen and(max-width:800px){
    #myntra-logo{
        padding-left: 20px;
        width:20px;
        height:20px;
    }
    header{
        display:flex;
        box-shadow: 1px 1px 1px 1px rgb(211, 209, 209);
        height:24px;    
        
        width:538px;
        
        
    }
    header nav{
        display:flex;
        
    }
    header nav ul{
        width:200px;
        display:flex;
        list-style: none;
        justify-content: space-between;
    
    }
    header nav ul li{
        letter-spacing: 0.8px;
        font-size: 6px;
        font-weight: 240;
        margin-left:6px;
        
    }
    
    
    #searching-box{
        margin-left:40px;
        text-align:center;
        width:140px;
        border:2px solid lightgrey;
        border-radius: 4px;
        height:18px;
        
        
    
    }
    #searching-box input{
        margin-top:5.2px;
        width:120px;
        border:none;
        outline:none;
    }
    #icon-navigation{
        background-color:white ;
        width:80px;
        display:flex;
        justify-content: space-around;
        align-items:center;
        margin-left:4px;
        
    }
    #icon-navigation i{
        text-align:center;
        color:grey;
    }
    #icon-navigation  p{
     font-size:10px;
     color:black;
    }
}
    
